@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header{
    margin: 0;
    padding: 3rem 1rem 1.5rem;
    width: 100%;
    background: linear-gradient(to bottom, #2323d4, #b693dd);
    color:$primary-white;
    
    &__text{

        @include tablet-desktop-title-normal;
    }
    &__date{
        padding-top: .5rem;;

        @include tablet-desktop-heading-medium;
    }
}